* {
	transition: ease-in-out text-shadow .5s,ease-in-out box-shadow .5s,ease-in-out border-color .5s,
	ease-in-out background-color .5s,ease-in-out color .5s;
}

html {
	scroll-behavior: smooth !important;
}

.hidden {
    display:none !important;
}
