$fonts: (
	"Fira":(
		"size": 12px,
		"files":(
			100 normal "fira-code/FiraCode-Light.otf" "opentype",
			400 normal "fira-code/FiraCode-Regular.otf" "opentype",
			700 normal "fira-code/FiraCode-Bold.otf" "opentype",
		),
		"ligatures": true,
	),
	"Noto":(
		"size": 12px,
		"files":(
			400 normal "noto-sans/NotoSans-Regular.ttf" "truetype",
			400 italic "noto-sans/NotoSans-Italic.ttf" "truetype",
			700 normal "noto-sans/NotoSans-Bold.ttf" "truetype",
			700 italic "noto-sans/NotoSans-BoldItalic.ttf" "truetype",
		),
		"Elements":(
			"body"
		),
		"ligatures": "",
		// "classAlias":(
		// 	"":(
		// 		"f"
		// 	)
		// )
	)
);

@each $fontName, $font in $fonts {
	@each $name, $props in $font {
		// @if ( $name == "size" ) {
		// 	$size = $props;
		// } @else {
		// 	$size = "16px";
		// }
		@if ( $name == "files" ){
			@each $bold, $style, $file, $type in $props {
				@font-face {
					font-family: $fontName;
					src: url("../fonts/#{$file}") format($type);
					font-style: $style;
					font-weight: $bold;
				}
				.font-#{$fontName}{
					font-family:$fontName;
				}
				.font-#{$fontName}-#{$bold}{
					font-family:$fontName;
					font-weight:$bold;
				}
				.font-#{$fontName}-#{$style}{
					font-family:$fontName;
					font-style:$style;
				}
				.font-#{$fontName}-#{$bold}-#{$style}{
					font-family:$fontName;
					font-weight:$bold;
					font-style:$style;
				}
			}
		}


	}
}
