.grid {
    display:grid;
    width:100%;
    grid-gap: 10px 10px;
    grid-auto-flow: row;

    justify-items: stretch;
    align-items: stretch;

    // @for $i from 0 through 12
    // {
    //     .col-#{$i}{
    //         grid-column: #{$i} / 12;
    //     }
    // }

}

.flex {
    width:100%;
    display: flex;
    
    &.row {
        flex-direction: row;
    }
    &.row-reverse {
        flex-direction: row-reverse;
    }
	&.column {
        flex-direction: column;
	}
    &.column-reverse {
        flex-direction: column-reverse;
    }

    &.align-items-top{
        align-items:flex-start;
    }
    &.align-items-center{
        align-items:center;
    }
    &.align-items-bottom{
        align-items:flex-end;
    }
    &.align-items-baseline{
        align-items:baseline;
    }
    &.align-items-stretch{
        align-items:stretch;
    }
        
    &.align-content-top{
        align-content: flex-start;
    }
    &.align-content-center{
        align-content: center;
    }
    &.align-content-bottom{
        align-content: flex-end;
    }
    &.align-content-between{
        align-content: space-between;
    }
    &.align-content-around{
        align-content: space-around;
    }
    &.align-content-evenly{
        align-content: stretch;
    }
        
    &.justify-content-left{
        justify-content: flex-start;
    }
    &.justify-content-center{
        justify-content: center;
    }
    &.justify-content-right{
        justify-content: flex-end;
    }
    &.justify-content-between{
        justify-content: space-between;
    }
    &.justify-content-around{
        justify-content: space-around;
    }
    &.justify-content-evenly{
        justify-content: space-evenly;
    }
    

    * {
        display: inline-block;
    }
}