$breakpoint: (
	70% 2em 18px 1200px 1439px, 
	70% .75em 18px 1025px 1200px, 
	80% .75em 16px 769px 1024px, 
	98% .5em 14px 481px 768px,
	100% .5em 12px 320px 480px
);

@media all {
	body {
		font-size: 20px;
	}
	main,header,footer {
		width: 100%;
	}
	.container-fluid {
		width: 100%;
	}
	.container {
		margin: auto;
		width: 50%;
	}
}

@each $cont, $marg, $fs, $min, $max in $breakpoint {
	

	@media (min-width:"#{$min}") and (max-width:"#{$max}"){
		body {
			font-size: #{$fs};
		}
		.container {
			width: #{$cont};
		}
		
	}
	
}
