header,
main,
footer {
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;

	.container-fluid {
		&.asSection {
			min-height: 100vh;
		}

		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		.container {
			margin: auto;
			padding: 1em;
		}
	}
}

nav {
	position: fixed;
	z-index: 1;
	top: 0px;
	.container {
		display: flex;
	}
}

header {
	p {
		font-size: 1.2em;
	}
}

input,
textarea,
button,
option,
label {
	margin: 0.25em;
	padding: 0.25em;
}

p {
	margin: 0px;
	padding: 1em;
}

button {
	min-width: 2em;
	min-height: 2em;
}

div.dropdown {
	div {
		display: none;
	}
}

.card-group {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	padding: 1em;
}

.button-group {
	button {
		border: 0px solid;
	}
	&.column {
        button {
            border-left: 1px solid;
            border-right: 1px solid;
        }
		button:first-child {
			border-top: 1px solid;
			border-radius: 0.25em 0.25em 0 0;
		}
		button:last-child {
			border-bottom: 1px solid;
			border-radius: 0 0 0.25em 0.25em;
		}
	}
	&.row {
        button {
            border-top: 1px solid;
            border-bottom: 1px solid;
        }
		button:first-child {
            border-left: 1px solid;
			border-radius: 0.25em 0 0 0.25em;
		}
		button:last-child {
            border-right: 1px solid;
			border-radius: 0 0.25em 0.25em 0;
		}
	}
}

#themetoggler {
	padding: 0px;
	display: flex;
	height: 1em;
	width: 2em;
	border: 2px solid;
	border-radius: 1em;
	&.dark {
		justify-content: left;
	}
	&.light {
		justify-content: right;
	}
	div {
		margin: 0px;
		padding: 0px;
		border: 1px solid;
		border-radius: 1em;
		height: 1em;
		width: 1em;
	}
}

header {
	.container-fluid {
		// height: 100vh;
		display: flex;
		align-items: end;
		.container {
			bottom: 0;
		}
	}
}
